@charset "UTF-8";

/* Class that prevents the selection of an element */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
