<?xml version="1.0" encoding="UTF-8" ?>
<!-- Default configuration file for phpunit with Insider Framework -->
<phpunit colors="true"
         bootstrap="../../Tests/bootstrap.default.php">
    <testsuites>
        <testsuite name="Insider Framework (Core) Database">
            <directory>../Tests/DatabaseConnectors/Mysql/ConnectorTest.php</directory>
            <directory>../Tests/Error/ErrorFatalTest.php</directory>
            <directory>../Tests/Error/ErrorHandlerTest.php</directory>
            <directory>../Tests/Error/ErrorMessageTest.php</directory>
            <directory>../Tests/Error/ErrorMonitorTest.php</directory>
            <directory>../Tests/Error/FrameworkErrorTypeTest.php</directory>
            <directory>../Tests/Error/PhpErrorTypeTest.php</directory>
            <directory>../Tests/Loaders/InitializeAutoLoaderTest.php</directory>
            <directory>../Tests/Loaders/ConfigLoaderTest.php</directory>
            <directory>../Tests/Loaders/ModuleLoaderTest.php</directory>
            <directory>../Tests/RoutingSystem/AclTest.php</directory>
        </testsuite>
    </testsuites>
</phpunit>