<?xml version="1.0" encoding="UTF-8" ?>
<!-- Default configuration file for phpunit with Insider Framework -->
<phpunit colors="true"
         bootstrap="../../Tests/bootstrap.default.php">
    <testsuites>
        <testsuite name="Insider Acl">
            <directory>../Tests/AclMainTest.php</directory>
        </testsuite>
    </testsuites>
</phpunit>